{% extends "base.html" %}
{% block content %}
{% include "header.html" %}
    <div class="container">
        <h1 class="text-center">Adding adventure</h1>
        <form method="POST" enctype="multipart/form-data">
            {% for fieldName, errorMessages in form.errors.items() %}
                {% for err in errorMessages %}
                <div class="alert alert-danger" role="alert">
                    {{ fieldName }}: {{ err }}
                </div>
                {% endfor %}
            {% endfor %}
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.objective.label }}
                {{ form.objective(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.difficulty.label }}
                {{ form.difficulty(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.pj.label }}
                {% if current_user["role"] == "admin" %}
                {{ form.pj(class_="form-control") }}
                {% else %}
                {{ form.pj(class_="form-control", disabled=True) }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.location.label }}
                {{ form.location(class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.characters.label }}
                {{ form.characters(class_="form-control __multiselect") }}
            </div>
            <div class="form-group">
                {{ form.game_elements.label }}
                {{ form.game_elements(class_="form-control __multiselect") }}
            </div>
            <div class="form-group">
                {{ form.authors.label }}
                {{ form.authors(class_="form-control __multiselect") }}
            </div>
            <input type="submit" value="Add" class="btn btn-primary"/>
        </form>
    </div>
{% endblock %}
