{% extends "base.html" %}
{% block content %}
<div id="players">
    <div class="container">
        {% include "header.html" %}
        <h1 class="text-center">Dobrodružství</h1>
        <div class="table_dragon">
            <div class="row grid-buttons" id="btn_adv">
                <div class="col4">
                    <a href="/adventure-add" class="btn btn-success"><i class="fa fa-plus-circle"></i> Přidat dobrodružství </a>
                </div>
            </div>

            <img id="drak_adv" src="../static/images/d9.png" alt="drak">

            <table>
                <tr>
                    <th>ID</th>
                    <th>Cíl</th>
                    <th>Obtížnost</th>
                    <th></th>
                </tr>
                {% for adventure in adventures %}
                <tr>
                    <td>{{ adventure[0] }}</td>
                    <td>{{ adventure[1] }}</td>
                    <td>{{ adventure[2] }}</td>
                    <td>
                        {% if current_user["role"] == "admin" %}
                        <a href="javascript:void(0);" class="btn btn-sm btn-danger button" onclick="myAlert()"><i class="fa fa-trash"></i></a>
                        {% endif %}
                        <a class="btn btn-sm btn-primary button" href="/adventure/{{ adventure[0] }}"><i class="fa fa-eye"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
 </div>
{% endblock %}
