{% extends "base.html" %}
{% block content %}
<div class="container char-space">
    {% include "header.html" %}
    <div class="row">
        <div class="col-12 character">
            {#  (id 3, 'Gibblegill', 'Orc', level 5, player_id 2, 'Matej', 'Gnome', 'images/race/gnome.png', 'description') #}
            <h1 class="col-12 text-center">{% block title %}{{ character[1] }}{% endblock %} {{ character[0] }}</h1>
        </div>

        <div class="col-5">
            <img id="karta" src="{{ character[7] }}" alt="{{ character[1] }}">
        </div>

        <div class="col-7 character-text">
            <div class="col-12">
                <h2 class="col-12 text-center">{{ character[2] }} - {{ character[6] }}</h2>
                <h3 class="col-12 text-center">Level: {{ character[3] }}</h3>
                <h3 class="col-12 text-center"><a href="/player/{{ character[4] }}">{{ character[5] }}</a></h3>
            </div>

            <div class="col-12 char-par">
                <p>
                    {{ character[8] }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}