{% extends "base.html" %}
{% block content %}
<div id="homepage">
    <header>
        <nav class="main-menu" id="navbar">
                <ul>
                    <li>
                        <a class="nav-link" href="/players">Hráči</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/adventures">Dobrodružství</a>
                    </li>
                </ul>
                    <a href="/">
                        <img id="logo" src="../static/images/logo.png">
                    </a>
                <ul>
                    <li>
                        <a class="nav-link" href="/sessions">Sezení</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/player/{{ current_user['id'] }}"> {{current_user["name"]}} </a>
                    </li>
                    {% if current_user["role"] == "admin" %}
                    <li>
                        <a class="nav-link btn btn-defualt" href="/admin/"> Admin </a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="nav-link" href="/logout"><i class="fa fa-sign-out-alt"></i></a>
                    </li>
                </ul>
        </nav>
    </header>
     <img id="banner" src="/static/images/homepage1.png" alt="Man on the cliff">
</div>
{% endblock %}