{% extends "base.html" %}
{% block content %}
<div id="players">
    <div class="container">
        {% include "header.html" %}
        <h1 class="text-center">{% block title %}Hráči{% endblock %}</h1>
        <div class="table">
            <div class="table_dragon">
                <img src="../static/images/d8.png" alt="drak">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Meno</th>
                        <th id="gold">počet zlata</th>
                        <th id="kills">počet zabití</th>
                        <th></th>
                    </tr>
                    {% for player in players %}
                    <tr>
                        <td>{{ player[0] }}</td>
                        <td>{{ player[1] }}</td>
                        <td>{{ player[2] }}</td>
                        <td>{{ player[3] }}</td>
                        <td>
                            {% if current_user["role"] == "admin" %}
                            <a class="btn btn-sm btn-danger button" href="/delete-player/{{ player[0] }}"><i class="fa fa-trash"></i></a>
                            {% endif %}
                            <a class="btn btn-sm btn-primary button" href="/player/{{ player[0] }}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                     {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
