{% extends "base.html" %}
{% block content %}
<div id="players">
    {% include "header.html" %}
    <div class="container">
        <h1 class="text-center">{% block title %}HRÁČI{% endblock %}</h1>
        <div>
            <div class="table_dragon">
                <div class="row grid-buttons">
                     <div class="col4">
                         <a href="/player-add" class="btn btn-success"><i class="fa fa-plus-circle"></i> Přidat hráče</a>
                    </div>
                </div>
                <img src="../static/images/d5.png">

                <table>
                    <tr>
                        <th>ID</th>
                        <th>Meno</th>
                        <th id="zlato">počet obdrženého zlata</th>
                        <th id="zabitia">počet zabití</th>
                        <th></th>
                    </tr>
                    {% for player in players %}
                    <tr>
                        <td>{{ player[0] }}</td>
                        <td>{{ player[1] }}</td>
                        <td>{{ player[2] }}</td>
                        <td>{{ player[3] }}</td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="/delete-player/{{ player[0] }}"><i class="fa fa-trash"></i></a>
                            <a class="btn btn-sm btn-primary" href="/player/{{ player[0] }}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                     {% endfor %}
                    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
