{% extends "base.html" %}
{% block content %}

<div class="container">
    {% include "header.html" %}
    <h1 class="text-center">Sezení</h1>
    <div class="table_dragon">
        <div class="row grid-buttons" id="btn_adv">
            <div class="col4">
                <a href="/session-add" class="btn btn-success"><i class="fa fa-plus-circle"></i> Přidat sezení</a>
            </div>
        </div>

        <img id="drak_adv" src="../static/images/d2.png" alt="drak">

        <table class="table">
            <tr>
                <th>ID</th>
                <th>Place</th>
                <th>Date</th>
                <th></th>
            </tr>
            {% for session in sessions %}
            <tr>
                <td>{{ session[0] }}</td>
                <td>{{ session[2] }}</td>
                <td>{{ session[1] }}</td>
                <td>
                    {% if current_user["role"] == "admin" %}
                    <a class="btn btn-sm btn-danger button" href="/delete-session/{{ session[0] }}"><i class="fa fa-trash"></i></a>
                    {% endif %}
                    <a class="btn btn-sm btn-primary button" href="/session/{{ session[0] }}"><i class="fa fa-eye"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}