{% include "header.html" %}
<div class="container">
    <h1 class="text-center">Sessions</h1>
    <div class="row grid-buttons">
        <div class="col4">
            <a href="/session-add" class="btn btn-success">Add session</a>
        </div>
    </div>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Place</th>
            <th>Date</th>
            <th></th>
        </tr>
        {% for session in sessions %}
        <tr>
            <td>{{ session[0] }}</td>
            <td>{{ session[2] }}</td>
            <td>{{ session[1] }}</td>
            <td>
                <a class="btn btn-sm btn-primary" href="/session/{{ session[0] }}"><i class="fa fa-eye"></i></a>
                <a class="btn btn-sm btn-danger" href="/delete-session/{{ session[0] }}"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
{% include "footer.html" %}